.venv
.vscode
*.pyc

models/*
!models/**/
models/BreakoutDeterministic/*
models/BreakoutDeterministic_firstRun/*
!models/BreakoutDeterministic/**/
!models/BreakoutDeterministic_firstRun/**/
!models/BreakoutDeterministic/best/*
!models/BreakoutDeterministic/best_firstRun/*
models/Cartpole-V1_models/*
!models/Cartpole-V1_models/**/
!models/Cartpole-V1_models/best/*